.App {
  text-align: center;
}

header {
  background-color: #FBC02D;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  h1 {
    color: #333;
    margin: 0;
    padding: 40px;
  }
}

.link-cards {
  padding-top: 30px;
}