.App {
  text-align: center;
}

header {
  background-color: #FBC02D;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  
  h1 {
    color: #333;
    margin: 0;
    padding: 40px;
  }
}

nav {
  padding-top: 30px;
}

a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #333;
  padding: 20px 0;
  padding-left: 50px;
  transition: 500ms;
  transition-timing-function: ease-out;
}

a:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: 70ms;
}